body {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    font-family: 'Heebo', sans-serif;

}

h1{
    padding: 30px;
    font-size: 25px;
}

.container{
    display:flex;
    justify-content: space-evenly;
    flex-direction:column-reverse;
    align-items: center;
    width: 100%;
}

/*  */
.button{
  background-color:#50C878;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  border: 0;
  font-size: 10px;
  width: 100%;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 35px;
}
  
.cell {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.floor-numbers{
    display:flex;
    justify-content: space-evenly;
    flex-direction:column-reverse;
    text-align: right;
    width: 140px;
    padding-right: 20px;
}

.table {
    border-collapse: collapse;
}

.cell-buttons-call{
    width: 65px;
    padding-left: 25px;
    padding-right: 80px;
}

.icon-elevator{
    width: 50%;
    height:80%;
}